:root{
    --main-text-color:#212121;
    --secondary-text-color:#2196F3;
    --accent-text-color: #FFFFFF;
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
}

body{
    text-align: center;
    font-family: var(--main-font);
}

span{
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
}

header{
    display: flex;
}

.hero{
    height: 600px;
    background-color:#2F303A;
    text-align: center;
}

h1{
display:inline-block;
text-transform: uppercase;
color: #FFFFFF;
font-size: 44px;
font-weight: 900;
line-height: 1.4;
margin-top: 200px;
}

button{
    display: block;
    background-color: var(--secondary-text-color);
    color: var(--accent-text-color);
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 200px;

}

ul{
    list-style: none;
}

ul{
    display: flex;
}

li{
    justify-content: space-around;
}

