:root{
    --main-text-color:#212121;
    --secondary-text-color:#2196F3;
    --accent-text-color: #FFFFFF;
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --section-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --phone-color:#757575;
}

html{
    text-align: center;
    font-family: var(--main-font);
}

a{
    text-decoration: none;
}

span{
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 26px;
    display: inline-block;
}

header .container{
    display: flex;
}


h1{
display:inline-block;
text-transform: uppercase;
color: #FFFFFF;
font-size: 44px;
font-weight: 900;
line-height: 1.4;
margin-top: 200px;
}

button{
    display: block;
    background-color: var(--secondary-text-color);
    color: var(--accent-text-color);
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 200px;

}

ul{
    list-style: none;
}

ul{
    display: flex;
}

li{
    justify-content: space-around;
}

.container {
    width: 1170px;
    margin: auto;
}

.hero{
    height: 600px;
    background-color: var(--footer-background-color);
    text-align: center;
}

.team {
    background-color: var(--section-background-color);
}

footer{
    background-color: var(--footer-background-color);
    text-align: left;
    padding: 60px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .logo{
    margin: 24px auto;
    justify-content: left;
}

.nav-block{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin: 32px auto;
}

.nav-item-container{
margin-right: 60px;
}

.nav-item{
    font-size: 14px;
    font-weight: 500;
    color:var(--main-text-color);
}

.nav-item:hover{
    color:var(--secondary-text-color);
}

.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    margin: auto;
}

.email{
    color: var(--secondary-text-color);
    font-style: normal;
    margin-right: 60px;
}

.phone{
    color: var(--phone-color)
}

footer ul{
    display: block;
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.72;
}

address{
    text-decoration: none;
    font-style: normal;

}

.footer-email, .footer-phone{
    color:var(--accent-text-color);
    opacity: 60%;
    font-style: normal;
}

.features p{
    font-size: 14px;
    line-height: 1.72;
    color: var(--phone-color);
    text-align: left;
}

.features h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.features li:not(:last-child){
    margin-right: 30px;
}

.what-we-do img{
    width: 370px;
}

.what-we-do img {
    margin-right: 30px;
}

